* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background: #333333 url('../images/background.jpg') 50% 50% no-repeat fixed;
    font: normal 12pt Arial,Helvetica,sans-serif;
    color: #D4D8D1;
}
a {
    outline: none;
    color: #D4D8D1;
    text-decoration: none;
}
a img {
    border: none;
}

h1 {
    font-size: 18pt;
    color: #A8A8A1;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
    /*border-left: 1px dashed #333333;
    border-right: 1px dashed #333333;*/
    padding: 0 20px 0 20px;
}


.errorMessage {
    margin-top: 5px;
    color: #B74934;
}
/* Header
-----------------------------------------------------------------------------*/
header {
    position: relative;
}

#home_logo {
    margin-top: 150px;
}

#logo {
    margin-top: 0px;
}


nav {
    position: absolute;
    bottom: 0px;
    left: 100px;
}

nav ul li {
    display: inline-block;
}
.nav-center {
    height: 62px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 62px;
}
nav ul li:hover .nav-center{
    background: url('nav-bg-center.png') repeat-x;
}
nav ul li:hover a {
    color: #333333;
}
nav ul li.active .nav-center{
    background: url('nav-bg-center.png') repeat-x;
}
nav ul li.active a {
    color: #333333;
}
.nav-left {
    width: 36px;
    height: 62px;
    float: left;
}
nav ul li:hover .nav-left{
    background: url('nav-bg-left.png') no-repeat;
}
nav ul li.active .nav-left{
    background: url('nav-bg-left.png') no-repeat;
}
.nav-right {
    width: 36px;
    height: 62px;
    float: left;
}
nav ul li:hover .nav-right{
    background: url('nav-bg-right.png') no-repeat
}
nav ul li.active .nav-right{
    background: url('nav-bg-right.png') no-repeat
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
    margin-top: 30px;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    padding: 0 0 0 250px;
}
.page-header {
    border-bottom: 1px solid #A8A8A1;
    margin: 0 0 30px 0;
}
.page-header h1 {
    font-weight: normal;
}

.content ul {
    margin: 0 0 0 40px;

}
.content a {
    text-decoration: underline;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 180px;
    margin-left: -100%;
    position: relative;

}


.portfolio li {
    list-style-type: none;
    font-size: 14pt;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}

.portfolio li a {
    color: #A8A8A1;
}

.portfolio li ul {
    margin-top: 10px;
}

.portfolio li ul li {
    list-style-type: none;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    margin-left: 30px;
}

.portfolio li ul li a {
    color: #D4D8D1;
}
.portfolio li ul li a:hover {
    color: #AA9A66;
}
.portfolio li ul li.active a {
    color: #AA9A66;
}

/* Contacts
------------------------------------------------------------------------------*/

.contact-info {
    padding: 0 0 0 20px;
    margin-bottom: 20px;
}

.contact-info-item + .contact-info-item {
    margin-top: 5px;
}

.contact-info span {
    font-weight: bold;
}
.contact-form .row {
    clear:both;
    margin-bottom: 10px;
}
.contact-form .control-label {
    display: block;
    margin-bottom: 5px;
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    vertical-align: middle;
}

.contact-form .controls {
    margin-left: 180px;
}

.contact-form .input-form {
    width: 450px;
    padding: 10px;
}

.contact-form .contact-form-text {
    width: 450px;
    height: 150px;
    padding: 10px;
}
.contact-form .contact-form-captcha {
    width: 120px;
    padding: 10px;
}
.contact-form .submit-button {
    padding: 10px 20px 10px 20px;
    margin-left: 180px;
}

/* login form
--------------------------------------------------------------------*/


.login-form .row {
    clear:both;
    margin-bottom: 10px;
}
.login-form .control-label {
    display: block;
    margin-bottom: 5px;
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    vertical-align: middle;
}

.login-form .controls {
    margin-left: 180px;
}

.login-form .input-form {
    width: 250px;
    padding: 10px;
}

.login-form .submit-button {
    padding: 10px 20px 10px 20px;
    margin-left: 180px;
}

/* Gallery
--------------------------------------------------------------------*/

.gallery {
    margin: 0 auto;
}
.gallery-row {
    position: relative;
    overflow: hidden;
    padding: 20px 0px 20px 0px;
}
.gallery-photo {
    float: left;
    width: 49%;
    text-align: center;
    font-weight: bold;
}
.gallery-photo img:hover {
    box-shadow: 0 0 25px white;
}

.gallery-photo i {
    font-size: 12px;
    background-color: #D4D8D1;
    color: #333333;
    font-weight: bold;
    font-style: normal;
    padding: 1px 4px 1px 4px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}
.gallery-title {
    display: block;
    margin-top: 5px;
}
.album-title {
    font-size: 14pt;
}
/* Icons
--------------------------------------------------------------------------------------------------*/
.gallery-gray {
    width: 24px;
    height: 23px;
    margin: 0 3px -3px 0;
}
.about-gray {
    width: 24px;
    height: 23px;
    margin: 0 3px -1px 0;
}
.email-gray {
    width: 24px;
    height: 23px;
    margin: 0 3px -3px 0;
}
.contacts-gray {
    width: 24px;
    height: 23px;
    margin: 0 3px -3px 0;
}
.shipping-gray {
    width: 24px;
    height: 23px;
    margin: 0 3px -3px 0;
}
/* Modal
------------------------------------------------------------------------------------------------------*/

#modal_window {
    display: none;
    z-index: 9999;
    /*border: 3px solid #A8A8A1;*/
    background-color: #333333;
    border-radius: 6px;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);

}
#modal_window #close {
    position: absolute;
    background: url("close.png");
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
#modal_window .row {
    margin-bottom: 10px;
}
#modal_window .input-form {
    width: 300px;
    padding: 5px;

}
#modal_window h3 {
    border-bottom: 1px solid #A8A8A1;
    margin: 0 0 15px 0;
}

#modal_window .submit-button {
    padding: 10px 20px 10px 20px;
}
#modal_window .buttons {
    text-align: center;
}
.flash-success {
    border: 1px solid #A8A8A1;
    padding: 10px;
    margin: 0 0 15px 0;
}

#button-order {
    position: fixed;
    background-color: #A8A8A1;
    margin: 0;
    color: #333333;
    padding: 5px 10px 5px 10px;
    right: 25px;
    bottom: 0;
    border-top: 1px solid #A8A8A1;
    border-left: 1px solid #A8A8A1;
    border-right: 1px solid #A8A8A1;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}